img {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px !important;
}
.userName {
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.colorForList {
  background-color: blue;
  border-radius: 10px !important;

}

.colorForList:hover {
  background: linear-gradient(to bottom, #3366ff 0%, #000099 100%);
  border-radius: 10px !important;
}

