img {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px !important;
}
.userName {
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.colorForList {
  background-color: blue;
  border-radius: 5px !important;
  border-style: solid;
  border-right-width: 2px;
  border-left-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 2px;
}


.colorForUser {
  background-color: rgb(139, 136, 148);
}

.colorForList:hover {
  background: linear-gradient(to bottom, #3366ff 0%, #000099 100%);
  border-radius: 5px !important;
}

