img {
  margin: 10px;
  /* margin-left: 10px; */
  height: 40px;
  width: 40px;
  border-radius: 10px !important;
}
.userRes {
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.colorForList {
  background-color: rgba(140, 240, 218, 0.959);
  border-radius: 5px !important;
  border-style: solid;
  border-right-width: 2px;
  border-left-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 2px;
}


.colorForUser {
  background: linear-gradient(to bottom, #ebe957 0%, #1f9900 100%);
}

.colorForList:hover {
  background: linear-gradient(to bottom, #80f06a 0%, #23c238 100%);
  border-radius: 5px !important;
}

