  <body>
    <div class = loginForm>
  email
  <input type = "text" #loginInput>
  password
  <input type = "password" #passwordInput>
  <button type="button" class="btn btn-success" (click)="login(loginInput.value, passwordInput.value)">login</button>
  </div>
  <div class = newUserForm>
  Don't you have already an account? Join us!
</div>
  <div class = newUserForm>
  email
  <input type = "text" #newEmailInput>
  nick
  <input type = "text" #newNickInput>
  password
  <input type = "password" #newPasswordInput>
  confirm password
  <input type = "password" #newPasswordConfInput>
  <br/>
  <div class="form-group">
    <label for="file">Upload picture</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>
  <div class = "wrongData">
  {{errorNewUser}}
  </div>
  {{info}}
  <br/>
  <button [disabled]="!readyForSubmit" type="button" class="btn btn-success" (click)="register(newEmailInput.value, newNickInput.value,
  newPasswordInput.value,newPasswordConfInput.value)">add new user</button>
</div>
</body>
